<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Daily Money</title>
    {% endblock %} {% load static %}
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}" />
    <!-- darkly -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="p-3 d-flex justify-content-center">
    <div role="main" class="colCenter">{% block content %} {% endblock %}</div>
  </body>
</html>
