{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<h1 class="text-center">Daily Money</h1>
<div class="grid mb-2">
  <div>Next payday:</div>
  <div id="payday">{{ payday }}</div>
  <div>Days left:</div>
  <div id="diff">{{ diff }}</div>
</div>
<button class="btn btn-link mb-2" id="edit-payday">Edit payday</button>
<!-- form should be hidden until the button above is clicked -->
<form
  class="form-group colCenter"
  id="payday-form"
  onsubmit="changePayday(); return false"
  hidden
>
  <div class="text-center input">
    <label for="day">Day (15th, 1st, etc)</label>
    <input type="number" id="day" class="form-control" max="31" min="1" />
    <div class="store-check">
      <input type="checkbox" id="savePayday" class="form-check-label" />
      <label for="savePayday">Remember payday</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<form
  id="data-form"
  onsubmit="getDaily(); return false"
  class="form-group colCenter"
>
  <label for="account">Money in account</label>
  <input type="number" id="account" step="0.01" class="form-control input" />
  <label for="pending">Pending (not required)</label>
  <input type="number" id="pending" step="0.01" class="form-control input" />
  <div class="text-center input">
    <label for="save">Money to save</label>
    <input
      type="number"
      id="save"
      name="save"
      step="0.01"
      class="form-control"
    />
    <div class="store-check">
      <input type="checkbox" id="storeSave" class="form-check-label" />
      <label for="storeSave">Remember save</label>
    </div>
  </div>
  <button id="advanced" type="button" class="btn btn-link mb-2">
    Advanced
  </button>
  <div id="advanced-options" hidden>
    <p>Advanced options</p>
  </div>
  <button id="main-submit" type="submit" class="btn btn-primary">Submit</button>
</form>
<div id="results-container">
  <fieldset class="perDayContainer" id="results" hidden>
    <legend class="perDayTitle">Spend per day</legend>
    <div class="daily" id="daily"></div>
  </fieldset>
</div>

{% load static %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
