{% extends "base.html" %} {% block content %} {% load static %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% load static %}
<script
  type="text/javascript"
  src="{% static 'js/components/result.js' %}"
></script>
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<h1 class="text-center">Daily Money</h1>
<div class="grid mb-2">
  <div>Next payday:</div>
  <div>{{ payday }}</div>
  <div>Days left:</div>
  <div>{{ diff }}</div>
</div>
<form
  id="data-form"
  onsubmit="getDaily(); return false"
  class="form-group colCenter"
>
  {% comment %} {% csrf_token %} {% endcomment %}
  <label for="account">Money in account</label>
  <input type="number" id="account" step="0.01" class="form-control input" />
  <label for="pending">Pending (not required)</label>
  <input type="number" id="pending" step="0.01" class="form-control input" />
  <label for="save">Money to save</label>
  <input
    type="number"
    id="save"
    name="save"
    step="0.01"
    class="form-control input"
  />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div id="results"></div>
{% endblock %}
